<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-4">
            <%= render 'layouts/user_info', post_user: @post_user, newpost: @newpost, user: @post_user %>
        </div>
        
        <div class="col-md-6 offset-md-1">
            <h2 class="body-title-text"><%= @post_user.name %>'s handmade goods</h2>
            <div class="card-list-container">
                <%= render 'layouts/post_contents', posts: @posts %>
            </div>
        </div>
    </div>
</div>