<div class="about-container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7">
            <h1 class="centered-text">
                welcome to Cravers
            </h1>
            <h4>
                "Cravers" is a coined word combaines "craft" and "lovers"
            </h4>
            <p>
                You can share your handmade goods here<br />
                and inspire others with them<br />
                Spread your works across the borders with Cravers
            </p>
        </div>
    </div>
</div>