<div class="about-container">
    <div class="row">
        <div class="col-11 col-sm-10 col-lg-9 col-xl-8">
            <h1 class="about-title">
                welcome to Cravers
            </h1>
            <h4 class="about-subtitle">
                "Cravers" is a coined word combaines "craft" and "lovers"
            </h4>
            <p class="about-text">
                Share your handmade goods here<br />
                and inspire others with them<br />
                Spread your works across the borders with Cravers
            </p>
        </div>
    </div>
</div>