<div class="top-container">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1 class="centered-text">
                <strong>Cravers</strong>
            </h1>
            <p class="centered-text">
                Post your imaginations on Cravers
            </p>
            <div class="btn-wrapper col-10 mx-auto">
                <% if user_signed_in? %>
                <div class="row">
                    <%= link_to "Log in", user_path(current_user.id), class: "btn btn-outline-info btn-sm btn-block mb-3" %>
                </div>
                <div class="row">
                    <%= link_to "Sign up", user_path(current_user.id), class: "btn btn-outline-success btn-sm btn-block mb-3" %>
                </div>
                <% else %>
                <div class="row">
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-info btn-sm btn-block mb-3" %>
                </div>
                <div class="row">
                    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-3" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>